@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    


}


/* LOGO*/
.logo {
    width: 100px;
}

/* navText */

.navText {
    color: white;
    font-size: 1.1rem;
}

.navText:hover {
    color: rgb(206, 206, 66);
}
.navSuplementos {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* BANNER*/
.banner {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}



/* TEXTO PRINCIPAL */

.texCard  {
    color: aliceblue;
}

.cardPrincipal {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
/* CARD*/

.cardShockh {
    width: 9rem;
    margin: 5px;
    background-color: transparent;
    border: none;
    border-radius: 10%;
    transition: 0.3s;


}
.imgShock {
    border-radius: 10px;
    
}

.cardShockh:hover {
    transform: scale(1.2);
}

/* SECCTION CATEGORIA */

.tituloCategoria {
    text-align: center;
    padding-top: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.tituloCategoria:hover {
    color: rgb(206, 206, 66);
}

.subTituloCategoria {
    text-align: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.cardCategoria {
    width: 350px;
    margin: 8px;
    background-color: transparent;
    border: none;
    /* border-radius: 10%; */
    transition: 0.5s ease-in-out;
    cursor: pointer;
    
}

.cardCategoria:hover {
    transform: scale(1.1);

}

.info {
    text-align: center;
}
.btnCatalogo {
    margin-top: 5px;
    
}




/* FOOTER */

/* Logo de WhatsApp*/

.logoContacto {
    width: 70px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    position: fixed;
    
}

.logoContacto:hover {
    transform: scale(1.1);
}

.notificacion {
    position:relative;
    display: inline-block;
    max-width: 300px ;
    padding: 20px 15px;
    border-radius: 4px;
    background-color: #000000;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade 4s linear forwards;
}

.progress{
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right #529bdb, #3250bf);
    border-radius: 4px;
    animation: progress 3s .25s linear forwards;
}

@keyframes fade {
    5%{
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);

    }

    90% {
        opacity: 1;
        transform: translateY(0px);
    }

    95% {
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: translateY(-30px);
    }
}
@keyframes progress {
    to {
        width: calc(100% - 10px);
    }
}

.cardFooter {
    background-color: transparent;
    border: none;
    margin-top: 200px;
    
}

.logoFooter {
    width: 100px;
}

.copyright  {
    color: white;
}

.textFooter {
    color: white;
}


/* SUPLEMENTOS*/

.cardSuplemento {
    width: 300px;
    margin: 8px;
    background-color: transparent;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    padding-top: 20px;

}

.tituloSuplemento {
    color: white;
}
.subtituloSuplemento {
    color: rgba(245, 245, 245, 0.575);
}

/* HR STYLE*/

hr {
    color: aliceblue;
}