@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


body {
    background: #1D4350;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/* LOGO*/
.logo {
    width: 100px;
}

/* navText */

.navText {
    color: white;
    font-size: 1.1rem;
}

.navText:hover {
    color: rgb(206, 206, 66);
}

/* BANNER*/
.banner {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* CARD*/

.cardShockh {
    width: 9rem;
    margin: 5px;
    background-color: transparent;
    border: none;
    border-radius: 10%;
    transition: 0.3s;


}
.imgShock {
    border-radius: 10px;
    
}

.cardShockh:hover {
    transform: scale(1.2);
}

/* SECCTION CATEGORIA */

.tituloCategoria {
    text-align: center;
    padding-top: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.tituloCategoria:hover {
    color: rgb(206, 206, 66);
}

.subTituloCategoria {
    text-align: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.cardCategoria {
    width: 300px;
    margin: 8px;
    background-color: transparent;
    border: none;
    border-radius: 10%;
    transition: 0.5s;
    cursor: pointer;
}

.cardCategoria:hover {
    transform: scale(1.2);

}


/* FOOTER */

/* Logo de WhatsApp*/

.logoContacto {
    width: 70px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    position: fixed;
    
}

.logoContacto:hover {
    transform: scale(1.1);
}



.cardFooter {
    background-color: transparent;
    border: none;
    margin-top: 200px;
    
}

.logoFooter {
    width: 100px;
}

.copyright  {
    color: white;
}

.textFooter {
    color: white;
}


/* SUPLEMENTOS*/

.cardSuplemento {
    width: 300px;
    margin: 8px;
    background-color: transparent;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    padding-top: 20px;

}

.tituloSuplemento {
    color: white;
}
.subtituloSuplemento {
    color: rgba(245, 245, 245, 0.575);
}